# Python
__pycache__/
*.pyc
.venv/

# macOS
.DS_Store

# Environment variables / secrets
.env

# Local data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# ML artifacts
models/
mlruns/

# Jupyter
.ipynb_checkpoints/
